<!DOCTYPE html>
<!--
PTMVision WEB APPLICATION
AUTHOR: Caroline Jachmann, Simon Hackl
CONTACT: caroline.jachmann@uni-tuebingen.de, simon.hackl@uni-tuebingen.de
VERSION: 1.0

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  <head>
    <title>About - PTMVision</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='resources/logo.png') }}"
    />
    <!--
      Provide meta information about the application.
      -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="PTMVision: Interactive Visualization of Post Translational Modifications | Understanding the intricate landscape of PTMs is crucial for unraveling the complex mechanisms underlying cellular processes and diseases. With PTMVision, researchers can effortlessly analyze and explore PTM data derived from various sources, including search engines such as ionbot, MSFragger, Sage, MaxQuant, or from a plain CSV table format processed from mass spectrometry (MS) data."
    />
    <meta name="author" content="Caroline Jachmann, Simon Hackl" />
    <!--
      Definition of stylesheets to use in the application.
      -->
    <link
      rel="stylesheet"
      href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <!--
      Definition of java script files to use in the application.
      -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://kit.fontawesome.com/df04f22e3d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body onload='$("#menu")[0].style.display = "flex";'>
    <!-- App menu -->
    <header
      id="menu"
      class="app-bar app-bar-expand"
      data-role="appbar"
      data-expand="true"
      data-role-appbar="true"
    >
      <div id="menu-grid" class="grid w-100">
        <div class="row">
          <div class="cell text-left ml-4 w-100">
            <div class="logo no-hover">
              <img
                src="{{ url_for('static', filename='resources/logo.png') }}"
                alt="PTMVision Logo"
              />
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="main">
      <div
        class="p-8"
        data-role="accordion"
        data-one-frame="true"
        data-show-active="true"
      >
        <div class="frame active">
          <div class="heading">About PTMVision</div>
          <div class="content">
            <h4>
              <small>
                PTMVision (Interactive Visualization of Post Translational
                Modifications) is an interactive web platform for effortless
                exploratory visual analysis of
                <a
                  href="https://www.sciencedirect.com/topics/biochemistry-genetics-and-molecular-biology/posttranslational-modification"
                  >post translational modification (PTM)</a
                >
                data obtained from
                <a
                  href="https://www.sciencedirect.com/topics/biochemistry-genetics-and-molecular-biology/mass-spectrometry"
                  >mass spectrometry (MS)</a
                >
                data using search engines such as
                <a href="https://ionbot.cloud/">ionbot</a>,
                <a href="https://www.maxquant.org/">MaxQuant</a>,
                <a
                  href="https://www.google.com/search?client=firefox-b-d&q=MsFragger"
                  >MSFragger</a
                >, or <a href="https://sage-docs.vercel.app/docs">Sage</a>. It
                enables researchers to understand the intricate landscape of
                PTMs in order to unravel the complex mechanisms underlying
                cellular processes and diseases.
              </small>
            </h4>
            <h4><i class="fa-solid fa-star-shooting"></i> Key Features</h4>
            <ul>
              <li>
                <code>Variety of overview and summary visualizations</code> that
                help identify patterns and trends in PTM data.
              </li>
              <li>
                Visualizations are dynamically linked and support features to
                highlight PTMs of interest.
              </li>
              <li>
                <code
                  >Integration of protein structure and annotation data from
                  UniProt</code
                >
                provide multidimensional view. This improves the
                interpretability of the data is significantly.
              </li>
              <li>
                <code
                  >Unique emphasis on interactions of residues in close contact
                  within a single protein</code
                >
                and associated modifications. This allows to study the dynamic
                interplay between PTMs and their putative effects on protein
                folding and function.
              </li>
              <!--<dt class="infotext-header">
                  Straightforward workflow and data provenance:
                </dt>-->
              <li>
                <code>Responsive and intuitive interface</code> that allows
                users to effortlessly navigate the website and through their
                data.
              </li>
              <li>
                <code>Supports high degree of data provenance</code> by allowing
                various input formats and an easy export of session data to
                continue analysis without repeated processing input data.
              </li>
            </ul>
          </div>
        </div>

        <div class="frame">
          <div class="heading">Workflow and User Task Guide</div>
          <div class="content"></div>
        </div>

        <div class="frame">
          <div class="heading">FAQ</div>
          <div class="content"></div>
        </div>

        <div class="frame">
          <div class="heading">Legal Information</div>
          <div class="content">
            <dl>
              <small>
                <dt class="infotext-header">Cookie usage</dt>
                <dd class="infotext-small">
                  We use a strictly necessary (http-only non-tracking) session
                  cookie so that you can access your data. (1) Your data will
                  not be accessible to other people. (2) No personalized data is
                  collected or shared with third parties and you will not be
                  tracked by this cookie. (3) The cookie will expire after you
                  close your tab.
                </dd>
                <dt class="infotext-header">Content liability</dt>
                <dd class="infotext-small">
                  The contents of our pages were created with the utmost care.
                  However, we cannot guarantee the accuracy, completeness and
                  actuality of the content. As a service provider, we are
                  responsible for our own content on these pages under the
                  general laws according to § 7 TMG. According to §§ 8 to 10
                  TMG, however, we are not obligated as a service provider to
                  monitor transmitted or stored third-party information or to
                  investigate circumstances that indicate illegal activity.
                  Obligations to remove or block the use of information under
                  the general laws remain unaffected. However, liability in this
                  regard is only possible from the point in time at which a
                  concrete infringement of the law becomes known. If we become
                  aware of such infringements, we will remove this content
                  immediately.
                </dd>
                <dt class="infotext-header">Link liability</dt>
                <dd class="infotext-small">
                  This page may contain links to external websites of third
                  parties, on whose contents we have no influence. We cannot
                  take any liability for these external contents. The respective
                  provider or operator of the pages is always responsible for
                  the content of the linked pages. The linked pages were checked
                  for possible legal violations at the time of linking. Illegal
                  contents were not recognizable at the time of linking.
                  However, a permanent control of the contents of the linked
                  pages is not reasonable without concrete evidence of a
                  violation of the law. If we become aware of any infringements,
                  we will remove such links immediately.
                </dd>
                <dt class="infotext-header">Data privacy</dt>
                <dd class="infotext-small">
                  The use of our website is possible without providing personal
                  data and no processed data is stored. If personal data (such
                  as name, address or e-mail addresses) is collected, this is on
                  a voluntary basis. This data will not be passed on to third
                  parties without your express consent. We point out that data
                  transmission over the Internet (e.g. communication by e-mail)
                  may yield security gaps. Complete protection of data against
                  access by third parties is not possible. The use of contact
                  data published within the framework of the impressum by third
                  parties for the purpose of sending advertising and information
                  material is hereby expressly prohibited. The operators of the
                  pages expressly reserve the right to take legal action in the
                  event of the sending of advertising information, such as spam
                  e-mails.
                </dd>
                <dt class="infotext-header">Copyright</dt>
                <dd class="infotext-small">
                  This program is free software: you can redistribute it and/or
                  modify it under the terms of the GNU General Public License as
                  published by the Free Software Foundation, either version 3 of
                  the License, or (at your option) any later version. This
                  program is distributed in the hope that it will be useful, but
                  WITHOUT ANY WARRANTY; without even the implied warranty of
                  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                  GNU General Public License for more details. (<a
                    href="https://www.gnu.org/licenses/gpl-3.0.en.html"
                    target="_blank"
                    >www.gnu.org/licenses/gpl-3.0.en</a
                  >)
                </dd>
                <dt class="infotext-header">Contact</dt>
                <dd class="infotext-small">
                  <div>
                    <address>
                      Caroline Jachmann
                      <br />
                      Computational Omics and Systems Biology Group, Department
                      of Biomolecular Medicine, Ghent University
                      <br />
                      VIB Technologiepark 75<br />
                      9052 Gent-Zwijnaarde, Belgium<br />
                      <a href="mailto:caroline.jachmann@ugent.be"
                        >caroline.jachmann@ugent.be</a
                      >
                    </address>
                    <address>
                      Simon Hackl
                      <br />
                      Integrative Transcriptomics Group, Institute fpr
                      Bioinformatics and Medical Informatics, University
                      Tübingen
                      <br />
                      Sand 14<br />
                      72076 Tübingen, Germany<br />
                      <a href="mailto:simon.hackl@uni-tuebingen.de"
                        >simon.hackl@uni-tuebingen.de</a
                      >
                    </address>
                  </div>
                </dd>
              </small>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
