:root {
  --contextualMenuBg: #fafafa;
  --contextualMenuShadow: 1px 1px 10px #333333;
  --contextualMenuRadius: 6px;
  --contextualMenuText: #333333;

  --contextualSubMenuBg: #fefefe;

  --contextualHover: #d4d4d4;

  --contextualOverflowIcon: #999;
  --contextualSeperator: #999;
}
