/**
PTMVis WEB APPLICATION
AUTHOR: Caroline Jachmann, Simon Hackl
CONTACT: caroline.jachmann@uni-tuebingen.de, simon.hackl@uni-tuebingen.de
VERSION: 1.0

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* Definition of root properties and variables. */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
  --background-color-1: #fbfbfb;
  --background-color-2: #d4d4d4;
  --background-color-3: #f0f5f5;
  --color-1: #5497a7;
  --color-2: #50858b;
  --color-3: #62a8ac;
  --color-4: #a1d2ce;
  --color-4-70: rgb(161, 210, 206, 0.7);
  --highlight-1: #ff6663;
  --highlight-2: #dc5754;
  --highlight-3: #dd9ac2;
  --highlight-4: #b486ab;
  --text-color: #333333;
}
::-webkit-scrollbar {
  width: 0.4vw;
  margin: 0.1vw;
}
::-webkit-scrollbar-track {
  background: var(--background-color-2);
  border-radius: 2px;
  margin: 0.1vw;
}
::-webkit-scrollbar-thumb {
  background: dimgray;
  border-radius: 2px;
  margin: 0.2vw;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: none;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.5s filter;
  filter: blur(2px);
}

body .swal2-close :focus {
  color: var(--highlight-1) !important;
  border: none !important;
}

body .toast {
  background-color: var(--text-color);
  color: var(--background-color-3);
}

body .error-toast {
  background-color: var(--highlight-2) !important;
  color: var(--background-color-2) !important;
}

#menu {
  background-color: var(--color-1);
  color: var(--background-color-1);
  height: 5vh;
  display: none;
}

#menu-grid {
  height: 100%;
  box-shadow: 0px 1px 5px var(--color-2);
}

.menu-button {
  color: var(--background-color-2);
  margin: 2px;
  border-radius: 2px;
  height: 100%;
}

.menu-button:hover {
  color: var(--background-color-2);
  background-color: var(--color-3);
  transition: 0.2s;
}

.button-no-decoration {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.process-active {
  color: var(--background-color-1);
}

.hint {
  text-align: center;
  background-color: var(--color-2);
  opacity: 0.9;
  color: var(--background-color-2);
  border-radius: 5px;
}

.citation {
  font-style: italic;
  color: var(--color-2);
}

.logo {
  height: 5vh;
}

.logo img {
  height: 90%;
}

.proceed-button {
  background-color: var(--highlight-1);
  color: var(--background-color-1);
  border: none;
  border-radius: 5px;
  font-size: small;
  padding: 4px;
  cursor: pointer;
}

.proceed-button i {
  font-size: xx-small;
}

.proceed-button:hover {
  background-color: var(--highlight-2);
  transition: 0.2s;
}

#main {
  background-color: var(--color-1);
  position: absolute;
  top: 5vh;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200%;
}

.panel-container {
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--color-3);
  background-color: var(--color-4-70);
  color: var(--text-color);
  padding: 10px;
  margin: 1%;
}

#panel {
  width: 100%;
  height: 100%;
  display: none;
}

#panel-inputs {
  position: absolute;
  top: top;
  left: 0;
  width: 49%;
  height: 21%;
  overflow-y: auto;
}

#panel-inputs i {
  font-size: large;
  color: var(--background-color-3);
}

#panel-info {
  position: absolute;
  background-color: var(--background-color-3);
  top: top;
  right: 0;
  width: 49%;
  height: 21%;
  overflow-y: auto;
  z-index: 3;
}

#panel-overview-graph {
  position: absolute;
  background-color: var(--background-color-3);
  padding: 0 !important;
  top: top;
  right: 0;
  width: 49%;
  height: 21%;
  overflow-y: auto;
}

#panel-overview-graph span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  font-size: large;
  color: var(--color-2);
}

#panel-overview-graph-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#panel-overview-graph-chart div {
  border-radius: 6px;
}

#panel-overview-graph-chart canvas {
  border-radius: 6px;
}

#panel-overview-table {
  position: absolute;
  top: 22%;
  left: 0;
  width: 98%;
  height: 23%;
  overflow-y: auto;
}

#panel-overview-table i {
  font-size: large;
  color: var(--background-color-3);
}

#panel-overview-table-tabulator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color-1);
  border-radius: 4px !important;
}

.tabulator-col-title {
  font-size: medium;
  padding-left: 25px;
}

.tabulator-selected {
  font-style: bold;
  background-color: var(--highlight-1) !important;
  border-radius: 4px;
}

#panel-dashboard {
  position: absolute;
  background-color: var(--background-color-1);
  top: 46%;
  width: 98%;
  height: 45%;
  overflow-y: auto;
}

#dashboard-overview {
  position: absolute;
  background-color: "#FAFAFC";
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
}

#dashboard-structure {
  position: absolute;
  background-color: "#FAFAFC";
  top: 30%;
  right: 0;
  width: 25%;
  height: 70%;
  z-index: 2;
}

#dashboard-map {
  position: absolute;
  background-color: "#FAFAFC";
  top: 30%;
  right: 25%;
  width: 50%;
  height: 70%;
  z-index: 2;
}

#dashboard-detail {
  position: absolute;
  background-color: lightpink;
  top: 30%;
  left: 0;
  width: 25%;
  height: 70%;
  z-index: 2;
}

#panel-legal {
  font-size: 0.7em;
  padding: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-3);
  border-radius: 2px;
}

#panel-legal th {
  color: var(--background-color-2);
}

#panel-legal .text-just,
.table {
  color: var(--background-color-2);
}

#panel-legal .text-leader2,
.citation {
  color: var(--background-color-1);
}
