/**
PTMVis WEB APPLICATION
AUTHOR: Caroline Jachmann, Simon Hackl
CONTACT: caroline.jachmann@uni-tuebingen.de, simon.hackl@uni-tuebingen.de
VERSION: 1.0

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* Definition of root properties and variables. */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
  --background-color-1: #fbfbfb;
  --background-color-2: #d4d4d4;
  --background-color-3: #f0f5f5;
  --color-1: #5497a7;
  --color-2: #50858b;
  --color-3: #62a8ac;
  --color-4: #a1d2ce;
  --color-4-70: rgb(161, 210, 206, 0.7);
  --highlight-1: #ff6663;
  --highlight-2: #dc5754;
  --highlight-3: #dd9ac2;
  --highlight-4: #b486ab;
  --text-color: #333333;
}
::-webkit-scrollbar {
  width: 0.4vw;
  margin: 0.1vw;
}
::-webkit-scrollbar-track {
  background: var(--background-color-2);
  border-radius: 2px;
  margin: 0.1vw;
}
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 2px;
  margin: 0.2vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-failure);
}

body {
  overflow: hidden;
  text-overflow: ellipsis;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.5s filter;
  filter: blur(2px);
}

body .toast {
  background-color: var(--text-color);
  color: var(--background-color-3);
}

body .error-toast {
  background-color: var(--highlight-2) !important;
  color: var(--background-color-2) !important;
}

#menu {
  background-color: var(--color-1);
  color: var(--background-color-1);
  height: 5vh;
  display: none;
}

#menu-grid {
  height: 100%;
}

#progress-indicator {
  font-size: xx-large;
  color: var(--color-4);
  margin: 2px;
  margin-right: 5px !important;
}

.menu-button {
  color: var(--background-color-2);
}

.menu-button:hover {
  color: var(--background-color-1);
  transition: 0.2s;
}

.button-no-decoration {
  font-size: xx-large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.progress-icon {
  font-size: xx-large;
  margin-left: 1vw;
  margin-right: 1vw;
  color: var(--color-3);
}

.progress-active {
  color: var(--background-color-1);
}

.hint {
  text-align: center;
  background-color: var(--color-2);
  opacity: 0.9;
  color: var(--background-color-2);
  border-radius: 5px;
}

.citation {
  font-style: italic;
  color: var(--color-2);
}

.logo {
  height: 5vh;
}

.logo img {
  height: 95%;
}

.proceed-button {
  background-color: var(--highlight-1);
  color: var(--background-color-1);
  border: none;
  border-radius: 5px;
  font-size: small;
  padding: 4px;
  cursor: pointer;
}

.proceed-button i {
  font-size: xx-small;
}

.proceed-button:hover {
  background-color: var(--highlight-2);
  transition: 0.2s;
}

.example-data-button {
  background-color: var(--color-4);
  color: var(--background-color-1);
  border: none;
  border-radius: 5px;
  font-size: small;
  padding: 4px;
  cursor: pointer;
}

.example-data-button:hover {
  background-color: var(--color-3);
  transition: 0.2s;
}

.custom-button {
  background-color: var(--background-color-1);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: small;
  padding: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: var(--background-color-3);
  transition: 0.2s;
}

#main {
  background-color: var(--color-1);
  position: absolute;
  top: 5vh;
  right: 0;
  bottom: 0;
  left: 0;
}

.panel-container {
  border-width: 1px;
  border-radius: 10px;
  border-color: var(--color-3);
  background-color: var(--color-4-70);
  color: var(--text-color);
  padding: 15px;
  margin: 2%;
}

#main-panel-1 {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("/static/resources/background_panel_1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-position-y: 5vh;
}

#main-panel-1-info-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 66%;
  height: 33%;
}

#main-panel-1-info-text .footer {
  position: absolute;
  font-size: small;
  left: 16px !important;
  right: 16px;
}

#main-panel-1-info-text .footer thead,
table,
tbody,
th {
  border-color: var(--color-2) !important;
  border-width: 1px;
  border-radius: 2px !important;
}

#main-panel-1-info-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 58%;
}

#main-panel-1-info-image img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-panel-1-inputs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 29%;
  height: 33%;
}

#main-panel-1-inputs i {
  font-size: x-large;
  color: var(--color-2);
}

#main-panel-2 {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("/static/resources/background_panel_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-position-y: 5vh;
}

#main-panel-2-menu {
  position: absolute;
  top: 0;
  width: 96%;
  height: 5vh;
}

#main-panel-2-menu i {
  font-size: x-large;
  color: var(--color-2);
}

#main-panel-2-menu .cell-2 {
  padding-left: 5px;
}

#main-panel-2-dashboard {
  position: absolute;
  background-color: #fbfbfb;
  bottom: 0;
  width: 96%;
  height: calc(92% - 6vh);
}
