Bio==1.6.2
biopython==1.81
brotlipy==0.7.0
flask==2.3.3
Flask-Session==0.8.0
werkzeug==2.3.7
numpy==1.24.4
pandas==1.5.3
psm_utils==0.7.4
pyteomics==4.7.1
python-dotenv==1.0.1
Requests==2.31.0
scipy==1.10.0
setuptools==68.0.0
unimod_mapper==0.6.6
cachelib==0.12.0
gunicorn==21.2.0