<!DOCTYPE html>
<!--
PTMVision WEB APPLICATION
AUTHOR: Caroline Jachmann, Simon Hackl
CONTACT: caroline.jachmann@uni-tuebingen.de, simon.hackl@uni-tuebingen.de
VERSION: 1.0

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  <head>
    <title>PTMVision</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='resources/icon.png') }}"
    />
    <!--
      Provide meta information about the application.
      -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="PTMVision: Interactive Visualization of Post Translational Modifications | Understanding the intricate landscape of PTMs is crucial for unraveling the complex mechanisms underlying cellular processes and diseases. With PTMVision, researchers can effortlessly analyze and explore PTM data derived from various sources, including search engines such as ionbot, MaxQuant, MSFragger, Sage, MaxQuant, or from a plain CSV table format processed from mass spectrometry (MS) data."
    />
    <meta name="author" content="Caroline Jachmann, Simon Hackl" />
    <!--
      Definition of stylesheets to use in the application.
      -->
    <link
      rel="stylesheet"
      href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator_bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <!--
      Definition of java script files to use in the application.
      -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://kit.fontawesome.com/df04f22e3d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/resize-sensor@0.0.6/ResizeSensor.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://3Dmol.org/build/3Dmol-min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@6.1.0/dist/js/tabulator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/pako.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/charts.js')}}"
    ></script>
  </head>
  <body onLoad="init();">
    <!-- App menu -->
    <header
      id="menu"
      class="app-bar app-bar-expand"
      data-role="appbar"
      data-expand="true"
      data-role-appbar="true"
    >
      <div id="menu-grid" class="grid w-100">
        <div class="row">
          <div class="cell text-left ml-4">
            <div class="logo no-hover">
              <img
                src="{{ url_for('static', filename='resources/logo.png') }}"
                alt="PTMVision Logo"
              />
            </div>
          </div>
          <div class="cell text-right">
            <button
              onclick="downloadSessionData()"
              class="button-no-decoration menu-button mr-8"
              data-role="hint"
              data-hint-text="Download session data (binary)."
              data-hint-position="left"
            >
              <i class="fa-duotone fa-file-arrow-down fa-2xl"></i>
            </button>
            <button
              onclick="redirectAbout()"
              class="button-no-decoration menu-button mr-8"
              data-role="hint"
              data-hint-text="Redirect to help and about page."
              data-hint-position="left"
            >
              About
            </button>
          </div>
        </div>
      </div>
    </header>

    <div id="main">
      <div id="panel">
        <div id="vline"></div>

        <div id="panel-info" class="panel-container">
          <h5>
            <i class="fa-duotone fa-circle-info"></i>
            PTMVision: Interactive Visualization of Post Translational
            Modifications
          </h5>
          <p class="text-just text-light">
            Understanding the intricate landscape of PTMs is crucial for
            unraveling the complex mechanisms underlying cellular processes and
            diseases. With PTMVision, researchers can effortlessly analyze and
            explore PTM data derived from various sources, including search
            engines such as ionbot, MSFragger, Sage, or from a plain CSV table
            format processed from mass spectrometry (MS) data.
          </p>
          <dl>
            <dt>
              <h4>
                <i class="fa-solid fa-person-chalkboard"></i> Usage Instruction
              </h4>
            </dt>
            <small>
              <dt class="infotext-header">
                <i class="fa-solid fa-1 fa-sm"></i> Upload Data
              </dt>
              <dd class="infotext-small">
                <span>&#8226;</span> Upload your data or re-upload existing
                session data at panel
                <i class="fa-duotone fa-circle-1 fa-sm"></i>; Enter the required
                input and click on
                <span
                  style="
                    background-color: #ff6663;
                    padding: 2px;
                    margin: 1px;
                    font-size: small;
                    border-radius: 4px;
                    color: #fbfbfb;
                  "
                  >Submit</span
                >. Alternatively, you can
                <a onclick="startExampleSession()" href="#"
                  >load an example session</a
                >. Your current session data can be downloaded by clicking on
                <i class="fa-duotone fa-file-arrow-down"></i> in the header menu
                on the right.
              </dd>
              <br />
              <dt class="infotext-header">
                <i class="fa-solid fa-2 fa-sm"></i> Overview Proteins
              </dt>
              <dd class="infotext-small">
                <span>&#8226;</span> After data transfer and successful
                processing, you will receive an overview of all PTMs in your
                data in panel <i class="fa-duotone fa-circle-2 fa-sm"></i>.
                <br />
                <span>&#8226;</span> A tabular overview of all proteins
                available from your data is given in panel
                <i class="fa-duotone fa-circle-3 fa-sm"></i>. The table can be
                filtered for protein name, UniProt identifier and modification
                names. Select a single protein from the table and click
                <span
                  style="
                    background-color: #ff6663;
                    padding: 2px;
                    margin: 1px;
                    font-size: small;
                    border-radius: 4px;
                    color: #fbfbfb;
                  "
                  >Display</span
                >
                to get a detailed view of that protein.
              </dd>
              <br />
              <dt class="infotext-header">
                <i class="fa-solid fa-3 fa-sm"></i> Explore Detail
              </dt>
              <dd class="infotext-small">
                Detail information about the occurrence of PTMs for the selected
                protein is displayed in panel
                <i class="fa-duotone fa-circle-4 fa-sm"></i>. You can switch
                between two display modes via the top-right button on the panel:
                <br />
                <span>&#8226;</span> The <b>Modification View</b> focuses on the
                occurrence of PTMs along the selected protein primary sequence
                as well as per amino acid.
                <br />
                <span>&#8226;</span> The <b>Structure View</b> focuses on the
                occurrence of PTMs in the context of residues that are in close
                spatial contact.
              </dd>
            </small>
            <br />
            <dt>
              <h4>
                <i class="fa-solid fa-triangle-exclamation"></i> Disclaimer
              </h4>
            </dt>
            <small>
              <dd class="infotext-small">
                Note that PTMVision serves solely to visualize the content
                provided in the input and does not conduct any further quality
                control. The localization of modifications still remains a
                challenging task and may yield imprecise results. PTMVision will
                be continuously updated and improved, including the addition of
                filters for localisation scores as soon as they will be reported
                by search engines.
              </dd>
            </small>
          </dl>
        </div>

        <div id="panel-inputs" class="panel-container">
          <h6 class="secondary">
            <i class="fa-duotone fa-circle-1"></i>
            <strong
              >Upload post-translational modification data from open or closed
              search <u>or</u> Restart previous PTMVision session</strong
            >
          </h6>
          <h7 class="secondary"
            >Specify pipeline with which your data was generated:</h7
          >
          <select data-role="select" id="data-type-form">
            <optgroup label="Pipeline">
              <option value="ionbot">Ionbot</option>
              <option value="msfragger">MSFragger</option>
              <option value="sage">Sage (closed)</option>
              <option value="csv">Plain CSV</option>
              <option value="msms">MaxQuant (closed)</option>
              <option value="infer">Infer (Experimental)</option>
            </optgroup>
          </select>
          <h7 class="secondary">Specify PTM data file:</h7>
          <input
            id="data-input-form"
            type="file"
            data-role="file"
            data-button-title='<i class="fa-duotone fa-folder-open"></i>'
          />
          <button class="proceed-button mt-2" onclick="startSession()">
            Submit
          </button>
          <hr />
          <h7 class="secondary"
            >Specify previously downloaded PTMVision session
            <code>.zlib</code> file:</h7
          >
          <input
            id="session-input-form"
            type="file"
            data-role="file"
            accept=".zlib"
            data-button-title='<i class="fa-duotone fa-folder-open"></i>'
          />
          <button class="proceed-button mt-2" onclick="startExistingSession()">
            Submit
          </button>
        </div>

        <div id="panel-overview" class="panel-container">
          <h6 class="secondary">
            <i class="fa-duotone fa-circle-2"></i>
            <strong>Overview PTMs</strong>
          </h6>
          <div id="panel-overview-chart"></div>
          <div id="panel-overview-controls">
            <button
              id="panel-overview-control-download"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Download image."
              data-hint-position="left"
              onclick="overviewChartDownloadImage()"
            >
              <i class="fa-duotone fa-camera"></i>
            </button>
            <button
              id="panel-overview-control-restore"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Reset zoom."
              data-hint-position="left"
              onclick="overviewChartRestoreZoom()"
            >
              <i class="fa-duotone fa-magnifying-glass-arrows-rotate"></i>
            </button>
            <button
              id="panel-overview-control-highlight"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Highlight PTM."
              data-hint-position="left"
              onclick="overviewChartHighlight()"
            >
              <i class="fa-duotone fa-highlighter"></i>
            </button>
            <button
              id="panel-overview-control-sort"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Sort by count/mass shift."
              data-hint-position="left"
              onclick="overviewChartSort()"
            >
              <i class="fa-duotone fa-arrow-up-arrow-down"></i>
            </button>
          </div>
        </div>

        <div id="panel-table" class="panel-container">
          <div class="grid">
            <div class="row">
              <div class="cell-11">
                <h6 class="secondary">
                  <i class="fa-duotone fa-circle-3"></i>
                  <strong id="panel-table-title"
                    >Select single protein of interest</strong
                  >
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="cell-3">
                <h7 class="secondary float-left"
                  >Filter for modifications by UniMod name:&nbsp;</h7
                >
              </div>
              <div class="cell-7">
                <select
                  id="panel-table-filter-modification"
                  class="input-small"
                  data-role="select"
                  data-on-change="overviewTableSetFilters"
                  multiple
                ></select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-3">
                <h7 class="secondary float-left"
                  >Filter for protein names/UniProt identifier:&nbsp;</h7
                >
              </div>
              <div class="cell-7">
                <select
                  id="panel-table-filter-id"
                  class="input-small"
                  data-role="select"
                  data-on-change="overviewTableSetFilters"
                  multiple
                ></select>
              </div>
            </div>
          </div>
          <div id="panel-table-tabulator"></div>
          <button
            id="dashboard-display-button"
            class="proceed-button"
            onclick="dashboardChartInitialize( )"
            disabled
          >
            Display
          </button>
        </div>

        <div id="panel-dashboard" class="panel-container">
          <h6 class="secondary">
            <i class="fa-duotone fa-circle-4"></i>
            <strong id="panel-dashboard-title">Explore detail</strong>
            <u id="panel-dashboard-selection"></u>
          </h6>
          <div id="panel-dashboard-chart"></div>
          <div id="panel-dashboard-structure">
            <div id="panel-dashboard-structure-meta"></div>
          </div>
          <div id="panel-dashboard-controls">
            <button
              id="panel-dashboard-control-download"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Download image (no structure)."
              data-hint-position="left"
              onclick="dashboardChartDownloadImage()"
            >
              <i class="fa-duotone fa-camera"></i>
            </button>
            <button
              id="panel-dashboard-control-restore"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Reset zoom."
              data-hint-position="left"
              onclick="dashboardChartRestoreZoom()"
            >
              <i class="fa-duotone fa-magnifying-glass-arrows-rotate"></i>
            </button>
            <button
              id="panel-dashboard-control-highlight"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Highlight PTM."
              data-hint-position="left"
              onclick="dashboardChartHighlight()"
            >
              <i class="fa-duotone fa-highlighter"></i>
            </button>
            <button
              id="panel-dashboard-control-switch"
              class="button-no-decoration"
              data-role="hint"
              data-hint-text="Switch between modifications/structure view."
              data-hint-position="left"
              onclick="dashboardChartSwitch()"
            >
              <i class="fa-duotone fa-repeat"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
