<!DOCTYPE html>
<!--
PTMVision WEB APPLICATION
AUTHOR: Caroline Jachmann, Simon Hackl
CONTACT: caroline.jachmann@uni-tuebingen.de, simon.hackl@uni-tuebingen.de
VERSION: 1.0

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  <head>
    <title>PTMVision</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='resources/logo.png') }}"
    />
    <!--
      Provide meta information about the application.
      -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta
      name="description"
      content="..."
    /> TODO, GENERATE DESCRIPTION -->
    <meta name="author" content="Caroline Jachmann, Simon Hackl" />
    <!--
      Definition of stylesheets to use in the application.
      -->
    <link
      rel="stylesheet"
      href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/contextual.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/contextual.theme.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <!--
      Definition of java script files to use in the application.
      -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://kit.fontawesome.com/df04f22e3d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/resize-sensor@0.0.6/ResizeSensor.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/pako.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/peity-vanilla.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/papaparse.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/contextual.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/dashboard.js')}}"
    ></script>
    <script>
      var API_PARAMETERS = JSON.parse(
        "{{api_parameters|safe}}".replaceAll("'", '"')
      );
    </script>
  </head>
  <body onLoad="init();">
    <!-- App menu -->
    <header
      id="menu"
      class="app-bar app-bar-expand"
      data-role="appbar"
      data-expand="true"
      data-role-appbar="true"
    >
      <div id="menu-grid" class="grid w-100">
        <div class="row">
          <div class="cell-1 text-center">
            <div class="logo no-hover">
              <img
                src="{{ url_for('static', filename='resources/logo.png') }}"
                alt="<LOGO>"
              />
            </div>
          </div>
          <div class="cell-4 offset-3 mt-0 text-center">
            <button
              id="panel-back-button"
              onclick="stepBack()"
              class="button-no-decoration menu-button"
              data-role="hint"
              data-hint-text="Back"
              data-hint-position="bottom"
              disabled
            >
              <i class="fa-duotone fa-angle-left"></i>
            </button>
            <div
              style="display: inline"
              data-role="hint"
              data-hint-text="Upload Data"
              data-hint-position="bottom"
            >
              <i
                id="progress-icon-1"
                class="progress-icon progress-active fa-duotone fa-file-arrow-up"
              ></i>
            </div>
            <i class="progress-icon fa-sharp fa-light fa-horizontal-rule"></i>
            <div
              style="display: inline"
              data-role="hint"
              data-hint-text="View Dashboard"
              data-hint-position="bottom"
            >
              <i
                id="progress-icon-2"
                class="progress-icon fa-duotone fa-magnifying-glass-chart fa-flip-horizontal"
              ></i>
            </div>
            <button
              id="panel-next-button"
              onclick="stepNext()"
              class="button-no-decoration menu-button"
              data-role="hint"
              data-hint-text="Next"
              data-hint-position="bottom"
            >
              <i class="fa-duotone fa-angle-right"></i>
            </button>
          </div>
          <div class="cell-1 offset-3 text-center">
            <i
              id="progress-indicator"
              class="fa-regular fa-circle"
              data-role="hint"
              data-hint-text="No Progress Running"
              data-hint-position="bottom"
            ></i>
            <button
              onclick="redirectSource()"
              class="button-no-decoration menu-button"
              data-role="hint"
              data-hint-text="Source Code<br>(GitHub)"
              data-hint-position="bottom"
              disabled
            >
              <i class="fa-brands fa-square-github"></i>
            </button>
            <button
              onclick="redirectHelp()"
              class="button-no-decoration menu-button"
              data-role="hint"
              data-hint-text="Additional<br>Information"
              data-hint-position="bottom"
              disabled
            >
              <i class="fa-duotone fa-square-question"></i>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div id="main">
      <div id="main-panel-1">
        <div id="main-panel-1-info-text" class="panel-container">
          <div class="footer">
            <div class="grid">
              <div class="row">
                <div class="cell-2">
                  <p class="text-upper text-leader2 text-center">citation</p>
                  <p class="text-light">
                    If you use any component of PTMVision in your work, please
                    cite
                    <br />
                    <span class="citation">
                      Jachmann et al., (2023, April 05), PTMVision,
                      https://github.com/Integrative-Transcriptomics/PTMVision</span
                    >
                  </p>
                </div>
                <div class="cell-6 offset-1">
                  <p class="text-upper text-leader2 text-center">
                    compatibility
                  </p>
                  <br />
                  <table class="table subcompact table-border cell-border">
                    <thead>
                      <tr>
                        <th>OS</th>
                        <th>Version</th>
                        <th>Chrome</th>
                        <th>Firefox</th>
                        <th>Edge</th>
                        <th>Safari</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Linux</th>
                        <th>Ubuntu 20.04.4</th>
                        <th>not tested</th>
                        <th>102.08</th>
                        <th>n/a</th>
                        <th>n/a</th>
                      </tr>
                      <tr>
                        <th>MacOS</th>
                        <th>Ventura 13.0.1</th>
                        <th>108.0.5359.124</th>
                        <th>108.1</th>
                        <th>n/a</th>
                        <th>16.1</th>
                      </tr>
                      <tr>
                        <th>Windows</th>
                        <th>11</th>
                        <th>108.0.5359.125</th>
                        <th>108.0</th>
                        <th>108.0.1462.54</th>
                        <th>n/a</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="cell-2 offset-1">
                  <p class="text-upper text-leader2 text-center">legal</p>
                  <p class="text-light">
                    This website is free and open to all users and there is no
                    login requirement. If cookies are used, you will receive a
                    consent form. Our web service does not use tracking cookies
                    and all submitted data is kept confidential. You will find
                    additional information on the legal page.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="main-panel-1-info-image" class="panel-container">
          <img
            src="{{ url_for('static', filename='resources/wordcloud.png') }}"
            alt="<GRAPHICAL_ABSTRACT>"
          />
        </div>
        <div id="main-panel-1-inputs" class="panel-container">
          <h4 class="secondary">
            <i class="fa-duotone fa-circle-1"></i> Upload Search Engine Output
          </h4>
          <h5 class="secondary">Specify Pipeline:</h5>
          <select data-role="select" id="data-type-form">
            <optgroup label="Pipeline">
              <option value="ionbot">Ionbot</option>
              <option value="msfragger">MSFragger</option>
              <option value="csv">Plain CSV</option>
            </optgroup>
          </select>
          <br />
          <h5 class="secondary">Upload Search Engine Output:</h5>
          <input
            id="data-input-form"
            type="file"
            data-role="file"
            data-button-title='<i class="fa-duotone fa-folder-open"></i>'
          />
          <br />
          <button class="proceed-button" onclick="uploadData()">Submit</button>
        </div>
      </div>
      <div id="main-panel-2">
        <div id="main-panel-2-menu" class="panel-container">
          <div class="grid">
            <div class="row">
              <div class="cell-2">
                <h4 class="secondary">
                  <i class="fa-duotone fa-circle-2"></i> Dashboard
                </h4>
              </div>
              <div class="cell-2">
                <select
                  class="input-small"
                  id="main-panel-2-protein-select"
                  data-role="select"
                  data-prepend="Protein"
                ></select>
              </div>
              <div class="cell-2">
                <select
                  id="main-panel-2-contact-attribute"
                  class="input-small"
                  data-role="select"
                  data-prepend="Contact Attribute"
                >
                  <optgroup label="Criteria">
                    <option value="common">Common PTMs (Jaccard)</option>
                    <!--<option value="repulsing">Repulsing PTMs</option>-->
                    <!--<option value="attracting">Attracting PTMs</option>-->
                  </optgroup>
                </select>
              </div>
              <div class="cell-2">
                <input
                  id="main-panel-2-distance-cutoff"
                  type="text"
                  class="input-small"
                  data-role="input"
                  data-prepend="Distance Cutoff"
                  data-default-value="5"
                />
              </div>
              <div class="cell-2">
                <button class="custom-button" disabled>Annotation</button>
              </div>
              <div class="cell-1 offset-1">
                <button
                  class="proceed-button"
                  onclick="processDashboardRequest()"
                >
                  Display
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="main-panel-2-dashboard" class="panel-container"></div>
      </div>
    </div>
  </body>
</html>
